<div class="large d-flex" style="background-color: white">
  <div class="info w-25 d-flex flex-column">
    <div class="menu p-4 d-flex flex-column ">
     <%= link_to "Home", root_path  %>
     <%= link_to "About Me", about_me_path  %>
     <%= link_to "Services Provided", services_provided_path  %>
     <%= link_to "Common Questions", common_questions_path  %>
     <%= link_to "Rates & Insurance", rates_insurance_path  %>
     <%= link_to "Appointment Request", appointment_request_path  %>
     <%= link_to "Contact Me", contact_me_path  %>
     <%= link_to "Privacy & Policy", privacy_policy_path  %>
    </div>
    <div class="links p-3 d-flex flex-column w-100">
      <h1>Schedule an appointment</h1>
      <h2>Melissa Craig-Morse</h2>
      <p>7079219631</p>
      <p>120 Pleasant Hill Rd., Suite 370, Sebastopol, California 95472 US</p>
      <p>melissa@melissacraigmorse.com</p>
    </div>
  </div>

  <div class="other w-75">
    <div class="words d-flex flex-column justify-content-center align-items-center">
      <div class="lilly w-100"> <%= image_tag "irises.jpg", height: 250, width: 1200 %></div>
      <div class="welcome p-5 mr-5" style="background-color: white">

        <h1>About Me</h1>
        <p>I am a Licensed Clinical Professional Couselor with a private practice in Sebastopol, California, fifteen minutes from downtown Santa Rosa and just over an hour’s drive north of the Golden Gate Bridge. I have been working in private practice for eight years and specialize in work with couples using an approach called Emotionally Focused Therapy for Couples, one of the most effective and well researched approaches to helping couples in crisis available at this time. In the approach I use in my work with both couples and individuals, the sense that I care, that you can trust me, and that you are always comfortable letting me know what is and isn’t working well for you in our work together is paramount. I care deeply for my clients and I believe that in their deepest knowing they have a sense of what they need and want and can access and connect with others from this true sense of themselves when they feel supported, accepted and understood. This is a very, very exciting time in the field of therapy. Breakthroughs in the fields of Neuroscience, Trauma research and treatment, mindfulness practices, and the psychology of attachment (the scientific term for Love) are all blending in such a way that real help and meaningful change is more likely to take place in therapeutic work than it ever has before. What else is there to say about me? I would be happy to answer any and all questions you might have when you call. I am incredibly happy in my work as a therapist and am grateful beyond measure to be able to support my clients in helping their lives to come together in exciting and meaningful new ways.</p></div>
      <div class="welcome-pic p-3"><%= image_tag "profile2.jpg", alt: "alttext" %></div>
      </div>
    </div>

    <div class="extra">

    </div>

  </div>



  </div>
</div>
