<div class="large d-flex" style="background-color: white">
  <div class="info w-25 d-flex flex-column">
    <div class="menu p-4 d-flex flex-column ">
     <%= link_to "Home", root_path  %>
     <%= link_to "About Me", about_me_path  %>
     <%= link_to "Services Provided", services_provided_path  %>
     <%= link_to "Common Questions", common_questions_path  %>
     <%= link_to "Rates & Insurance", rates_insurance_path  %>
     <%= link_to "Appointment Request", appointment_request_path  %>
     <%= link_to "Contact Me", contact_me_path  %>
     <%= link_to "Privacy & Policy", privacy_policy_path  %>
    </div>
    <div class="links p-3 d-flex flex-column w-100">
      <h1>Schedule an appointment</h1>
      <h2>Melissa Craig-Morse</h2>
      <p>7079219631</p>
      <p>120 Pleasant Hill Rd., Suite 370, Sebastopol, California 95472 US</p>
      <p>melissa@melissacraigmorse.com</p>
    </div>
  </div>

  <div class="other w-75">
    <div class="words d-flex flex-column justify-content-center align-items-center">
      <div class="lilly w-100"> <%= image_tag "irises.jpg", width: 850 %></div>
      <div class="welcome p-5 mr-5" style="background-color: white">

        <h1>Appointment Request</h1>

      <p>To schedule an individual, children, couples, marriage or family therapy appointment or to obtain additional information about any of these counseling services, please fill out the form below or give me a call.</p>

      <p>Directions to my office may be found on this site's "Contact Me" page.</p>


        <p><form method="POST" action="https://simple-form.com/inanna.craigmorse@gmail.com">
        <input type="text" name="name" placeholder="Your name" />
        <input type="email" name="replyTo" placeholder="Your email" />
        <textarea name="message" placeholder="Your message"></textarea>
        <input type="submit" value="Send" />
        </form></p></div>



      </div>
    </div>

    <div class="extra w-25">

    </div>

  </div>



  </div>
</div>
