<div class="large d-flex" style="background-color: white">
  <div class="info w-25 d-flex flex-column">
    <div class="menu p-4 d-flex flex-column ">
     <%= link_to "Home", root_path  %>
     <%= link_to "About Me", about_me_path  %>
     <%= link_to "Services Provided", services_provided_path  %>
     <%= link_to "Common Questions", common_questions_path  %>
     <%= link_to "Rates & Insurance", rates_insurance_path  %>
     <%= link_to "Appointment Request", appointment_request_path  %>
     <%= link_to "Contact Me", contact_me_path  %>
     <%= link_to "Privacy & Policy", privacy_policy_path  %>
    </div>
    <div class="links p-3 d-flex flex-column w-100">
      <h1>Schedule an appointment</h1>
      <h2>Melissa Craig-Morse</h2>
      <p>7079219631</p>
      <p>120 Pleasant Hill Rd., Suite 370, Sebastopol, California 95472 US</p>
      <p>melissa@melissacraigmorse.com</p>
    </div>
  </div>

  <div class="other w-75">
    <div class="words d-flex flex-column justify-content-center align-items-center">
      <div class="lilly w-100"> <%= image_tag "irises.jpg", width: 850 %></div>
      <div class="welcome p-5 mr-5" style="background-color: white">

        <h1>Contact Me</h1>
        <br>
        <p>Please give me a call, send an email, or simply fill out the form on this page. I'm looking forward to speaking with you.</p>

        <p>Telephone:  707-921-9631</p>

        <p>Email: melissa@melissacraigmorse.com</p>

        <p>Directions to my office:</p>

        <p>My office is located at 120 Pleasant Hill Road, Sebastopol, in a large orange building that is the second building North of the corner of Pleasant Hill Road and Bodega Hwy. (Route12).</p>

        <p>Once you have turned into the building's parking lot, drive to the rear of the building. You will find the rear entrance to the building on your right. As you enter the building, the set of stairs on your right will lead you directly to Suite 370 on the third floor. If you prefer to use the elevator, it is located at the opposite end of the building at the entrance nearest to Pleasant Hill Road.</p>

        </div>

      </div>
    </div>

    <div class="extra w-25">

    </div>

  </div>



  </div>
</div>
