<div class="large d-flex" style="background-color: white">
  <div class="info w-25 d-flex flex-column">
    <div class="menu p-4 d-flex flex-column ">
     <%= link_to "Home", root_path  %>
     <%= link_to "About Me", about_me_path  %>
     <%= link_to "Services Provided", services_provided_path  %>
     <%= link_to "Common Questions", common_questions_path  %>
     <%= link_to "Rates & Insurance", rates_insurance_path  %>
     <%= link_to "Appointment Request", appointment_request_path  %>
     <%= link_to "Contact Me", contact_me_path  %>
     <%= link_to "Privacy & Policy", privacy_policy_path  %>
    </div>
    <div class="links p-3 d-flex flex-column w-100">
      <h1>Schedule an appointment</h1>
      <h2>Melissa Craig-Morse</h2>
      <p>7079219631</p>
      <p>120 Pleasant Hill Rd., Suite 370, Sebastopol, California 95472 US</p>
      <p>melissa@melissacraigmorse.com</p>
    </div>
  </div>

  <div class="other w-75">
    <div class="words d-flex flex-column justify-content-center align-items-center">
      <div class="lilly w-100"> <%= image_tag "irises.jpg", width: 850 %></div>
      <div class="welcome p-5 mr-5" style="background-color: white">

        <h1>Privacy & Policy</h1>
        <br>
        <h5>Confidentiality & Privacy Policy</h5>
        <br>

<p>The law protects the relationship between a client and a psychotherapist, and information cannot be disclosed without written permission.</p>

<p>Exceptions include:</p>

<ul style="font-size: 15px;">
  <li>Suspected child abuse or dependent adult or elder abuse, for which I am required by law to report this to the appropriate authorities immediately.</li>
  <li>If a client is threatening serious bodily harm to another person/s, I must notify the police and inform the intended victim.</li>
  <li>If a client intends to harm himself or herself, I will make every effort to enlist their cooperation in ensuring their safety. If they do not cooperate, I will take further measures without their permission that are provided to me by law in order to ensure their safety.</li>
</ul>
 </p></div>

      </div>
    </div>

    <div class="extra w-25">

    </div>

  </div>



  </div>
</div>
