<div class="large d-flex" style="background-color: white">
  <div class="info w-25 d-flex flex-column">
    <div class="menu p-4 d-flex flex-column ">
     <%= link_to "Home", root_path  %>
     <%= link_to "About Me", about_me_path  %>
     <%= link_to "Services Provided", services_provided_path  %>
     <%= link_to "Common Questions", common_questions_path  %>
     <%= link_to "Rates & Insurance", rates_insurance_path  %>
     <%= link_to "Appointment Request", appointment_request_path  %>
     <%= link_to "Contact Me", contact_me_path  %>
     <%= link_to "Privacy & Policy", privacy_policy_path  %>
    </div>
    <div class="links p-3 d-flex flex-column w-100">
      <h1>Schedule an appointment</h1>
      <h2>Melissa Craig-Morse</h2>
      <p>7079219631</p>
      <p>120 Pleasant Hill Rd., Suite 370, Sebastopol, California 95472 US</p>
      <p>melissa@melissacraigmorse.com</p>
    </div>
  </div>

  <div class="other w-75">
    <div class="words d-flex flex-column justify-content-center align-items-center">
      <div class="lilly w-100"> <%= image_tag "irises.jpg", width: 870 %></div>
      <div class="welcome p-5 mr-5" style="background-color: white">

        <h1>Services Provided</h1>
        <p>Providing individual, couples and family counseling.</p>

        <p>Treatment specialization includes:</p>

          <ul style="font-size: 15px;">
           <li>Therapy for Depression and Anxiety</li>
            <li>Couples Counseling</li>
            <li>Family Counseling</li>
            <li>Parenting Support</li>
            <li>Grief Counseling</li>
            <li>Work and Career issues</li>
            <li>Stress Management</li>
            <li>Addiction & Recovery</li>
            <li>Conflict Resolution</li>
          </ul>

 <p>I work with a wide range of emotional and behavioral issues providing services that span from therapy for depression and grief counseling to parenting support, couples counseling and beyond.  In a comfortable and supportive atmosphere, I offer a highly personalized approach tailored to each of my clients individual needs to help attain the personal growth they’re striving for.</p></div>
      </div>
    </div>

    <div class="extra">

    </div>

  </div>



  </div>
</div>
